@font-face {
  font-family: "nunito-regular";
  src: url(fonts/Nunito-Regular.ttf);
}
@font-face {
  font-family: "nunito-black";
  src: url(fonts/Nunito-Black.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}
*:focus{
  outline: 0;
}
body {
  background-color: #fafafa;
  overflow-x: hidden;
}
.header {
  display: flex;
  width: 100%;
  min-height: 5em;
  background-color: #4a4c55;
  justify-content: space-between;
  align-items: center;
  padding-right: 1em;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.logo img {
  width: 200px;
  background-position: center;
  background-size: cover;
}
.nav-links {
  display: flex;
}
.nav-links li {
  padding: 0 2.5em;
  transition: all 0.5s ease;
}
.nav-links li a {
  color: #fafafa;
  letter-spacing: 1.5px;
  font-size: 18px;
  transition: all 0.5s ease;
}
.nav-links li a:hover {
  color: #26b872;
  border-bottom: 0.5px solid #26b872;
}
.burger {
  width: 50px;
  height: 50px;
  display: none;
  cursor: pointer;
}
.burger div {
  width: 35px;
  height: 5px;
  background-color: #26b872;
  margin: 2.5px 0;
  border-radius: 7px;
  transition: all 0.5s ease;
}

.poster {
  width: 100%;
  min-height: 30em;
  display: flex;
  align-items: center;
  background: url("Images/poster.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: #4a4c55;
  box-shadow: 0 3px 10px 3px rgba(241, 239, 239, 0.3);
}
.poster .info {
  width: 50%;
  margin-left: 5em;
  background: none;
}
.poster .info p {
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 1.5em;
  font-family: sans-serif;
}
.poster .info button {
  margin-top: 2em;
  width: 10em;
  height: 3em;
  letter-spacing: 0.8px;
  background: #26b872;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: none;
  border-radius: 50px;
  font-family: "nunito-regular", sans-serif;
  cursor: pointer;
  color: #fff;
  transition: all 0.5s ease;
}
.poster .info button:hover{
  transform: scale(1.05);
}
.main{
  width: 100%;
  min-height: 25em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2em;
}
.main .enc,.main .dec{
  width: 50%;
  display: flex;
  flex-direction: column;
  min-height: 20em;
  background: #fafafa;
  border-radius: 20px;
  border: none;
  margin: 2em;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  transition: all .5s ease;
  padding: 0 1em;
  cursor: pointer;
}
.main .image{
  width: 200px;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-self: center;
  margin-bottom: 1em;
  margin-top: 1em;
}
.main .title{
  width: 100%;
  line-height: 2em;
  text-align: left;
  font-size: 22px;
  letter-spacing: 1.3px;
  font-family: 'nunito-regular',sans-serif;
  font-weight: bolder;
}
.main p{
  width: 100%;
  line-height: 1.5em;
  letter-spacing: 1.08px;
  padding: 1em 0;
  font-family: 'nunito-regular',sans-serif;
}
.main .enc:hover,.main .dec:hover{
  transform: scale(1.05);
}
.footer {
  width: 100%;
  min-height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4a4c55;
}
.footer p {
  color: #fafafa;
  font-size: 16px;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 300px) {
  body {
    display: none;
  }
}
@media screen and (max-width: 870px) {
  .nav-links li a {
    font-size: 16px;
  }
  .nav-links li {
    padding: 1.5em;
  }
  .poster {
    width: 100%;
    min-height: 25em;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    background-color: #4a4c55;
  }
  .poster .info {
    width: 100%;
    margin: 0;
    padding: 0 1.5em;
  }
  .poster .info p {
    font-size: 14px;
  }
  .poster .info button {
    margin-top: 1em;
    width: 9em;
    height: 2.5em;
  }
}
@media screen and (max-width: 768px) {
  .header {
    min-height: 4em;
  }
  .logo img {
    width: 150px;
  }
  .nav-links {
    position: absolute;
    top: 4em;
    background-color: #4a4c55;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    transform: translateY(-150%);
    transition: all 0.5s ease;
  }
  .nav-links li {
    padding: 1.5em 0;
  }
  .nav-links li a {
    font-size: 16px;
    color: #fafafa;
  }
  .nav-links li a:hover {
    color: #26b872;
  }
  .burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .poster {
    width: 100%;
    min-height: 20em;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4a4c55;
  }
  .poster .info {
    width: 100%;
    margin: 0;
    padding: 0 1.5em;
  }
  .poster .info p {
    font-size: 14px;
  }
  .poster .info button {
    margin-top: 1em;
    width: 9em;
    height: 2.5em;
  }
  .main{
    min-height: 40em;
    flex-direction: column;
    padding: 2em;
  }
  .main .enc,.main .dec{
    width: 100%;
    min-height: 15em;
  }
  .main .image{
    width: 150px;
    height: 150px;
  }
  .main .title{
    line-height: 1.5em;
    font-size: 20px;
    letter-spacing: 1px;
  }
  .main p{
    letter-spacing: 0;
  }
}
.nav-active {
  transform: translateY(0%);
}
.toggle .line1 {
  transform: rotate(45deg) translate(5px, 9px);
}
.toggle .line2 {
  opacity: 0;
  transform: translateX(-43px);
}
.toggle .line3 {
  transform: rotate(-45deg) translate(5px, -9px);
}