* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}
*:focus {
  outline: 0;
}
body {
  background-color: white;
  overflow-x: hidden;
}
.header {
  display: flex;
  width: 100%;
  min-height: 5em;
  background-color: #4a4c55;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.header img {
  width: 200px;
  background-position: center;
  background-size: cover;
}
.main {
  width: 100%;
  padding: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  width: 100%;
  background-color: #696be4;
  padding: 0.5em 1.5em;
  font-size: 25px;
  letter-spacing: 1.5px;
  color: white;
  margin-top: 1em;
}
.main .dev {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 2em 0;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all 0.5s ease;
}
.main .dev:hover {
  transform: scale(1.08);
}
.main .dev img {
  width: 200px;
  border-radius: 50%;
  margin-bottom: 1em;
}
.main .info {
  width: 100%;
  border-top: 3px solid #4a4c55;
}
.main .info h3,
.main .info p {
  font-size: 25px;
  color: #4a4c55;
  letter-spacing: 1.5px;
  text-align: left;
  margin: 1em 2em;
}
.main .info p{
  font-size: 16px;
  padding: 0 1em;
}
.main .info .links {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0 2em;
}
.main .info .links i {
  padding: 0.5em;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 70px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  color: white;
  font-size: 35px;
}
.github {
  background: #4a4c55;
}
.instagram {
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
.footer {
  width: 100%;
  min-height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4a4c55;
}
.footer p {
  color: #fafafa;
  font-size: 16px;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 300px) {
  body {
    display: none;
  }
}
@media screen and (max-width: 870px) {
  .main {
    padding: 1em;
  }
  .main .dev img {
    width: 160px;
  }
  .main .info h3 {
    font-size: 22px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    min-height: 4em;
  }
  .header img {
    width: 150px;
  }
  .main {
    flex-direction: column;
    padding: 2em;
  }
  .title {
    min-height: 3em;
    font-size: 20px;
    padding: 0.5em 1em;
    letter-spacing: 1.08px;
  }
  .main .dev {
    width: 100%;
    margin-bottom: 1.5em;
  }
  .main .info h3 {
    font-size: 20px;
    letter-spacing: 1.08px;
  }
  .main .info .links i {
    width: 50px;
    font-size: 25px;
  }
  .main .dev:hover {
    transform: scale(1.05);
  }
}
